<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Black Friday Eventos</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.css') }}" media="screen">
        

        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular/angular.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.js') }}"></script>
    </head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
			  <div class="header item"><a href="{{ url_for('home') }}"><img height="30px" src="{{ url_for('static', filename='logo.png') }}" alt="BlackFridayEventos"></a></div>

			  <div class="right menu">
			    <div class="item">
			      <div class="ui transparent inverted icon input">
			        <i class="search icon"></i>
			        <input type="text" placeholder="Search">
			      </div>
			    </div>
			    <a class="item"><i class="map icon"></i></a>
			    <a class="item" href="{{ url_for('login') }}"><i class="user icon"></i></a>
			  </div>
	
			</div>
		</div>
		
        <div class="ui container" style="margin-top: 5%;margin-bottom: 5%">
			{% block body %}{% endblock %}
		</div>
		<!--</div>-->

		<div class="ui inverted vertical footer segment">
			
		    <div class="ui center aligned container">
		      <div class="ui stackable inverted divided grid">
		        <div class="three wide column">
		          <h4 class="ui inverted header">Group 1</h4>
		          <div class="ui inverted link list">
		            <a href="#" class="item">Link One</a>
		            <a href="#" class="item">Link Two</a>
		            <a href="#" class="item">Link Three</a>
		            <a href="#" class="item">Link Four</a>
		          </div>
		        </div>
		        <div class="three wide column">
		          <h4 class="ui inverted header">Group 2</h4>
		          <div class="ui inverted link list">
		            <a href="#" class="item">Link One</a>
		            <a href="#" class="item">Link Two</a>
		            <a href="#" class="item">Link Three</a>
		            <a href="#" class="item">Link Four</a>
		          </div>
		        </div>
		        <div class="three wide column">
		          <h4 class="ui inverted header">Group 3</h4>
		          <div class="ui inverted link list">
		            <a href="#" class="item">Link One</a>
		            <a href="#" class="item">Link Two</a>
		            <a href="#" class="item">Link Three</a>
		            <a href="#" class="item">Link Four</a>
		          </div>
		        </div>
		        <div class="seven wide column">
		          <h4 class="ui inverted header">Footer Header</h4>
		          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
		        </div>
		      </div>
		      <div class="ui inverted section divider"></div>
		      <img src="{{ url_for('static', filename='logo.png') }}" class="ui centered mini image">
		      <div class="ui horizontal inverted small divided link list">
		        <a class="item" href="#">Site Map</a>
		        <a class="item" href="#">Contact Us</a>
		        <a class="item" href="#">Terms and Conditions</a>
		        <a class="item" href="#">Privacy Policy</a>
		      </div>
		    </div>
		</div>	
		<!-- END BODY -->
	    <!-- <footer class="footer">
		  <div class="container">
		    <p class="text-muted">&copy; Copyright 2017 by <a href="https://github.com/BlackFridayTeam/BlackFridayEventosFrontend" target="_blank">Black Friday Team</a>.</p>
		  </div>
		</footer> -->
	</body>
</html>