<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login Example - Semantic</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.css') }}" media="screen">
        
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/angular/angular.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.js') }}"></script>
  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <!--<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>-->
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <a href="{{ url_for('home') }}" title="">
      	<img src="{{ url_for('static', filename='icon.png') }}" height="60px">
      </a>
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" ng-app="loginApp" ng-controller="validateLogin" ng-submit="sendLogin()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address" ng-model="email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" ng-model="password">
          </div>
        </div>
        <div class="ui fluid large submit button" ng-disabled="form.email.$dirty && form.email.$invalid ||
form.password.$dirty && form.password.$invalid">Login</div>
      	
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
  		<a href="#">I forgot my password</a>
	</div>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>

    <div class="ui message">
  		<a href="#">Back to index</a>
	</div>
  </div>
</div>


<script type="text/javascript">
    var app = angular.module('loginApp', []);

    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{a');
      $interpolateProvider.endSymbol('a}');
    }]);

    app.controller('validateLogin', function($scope) {
        $scope.email = "";
        $scope.password = "";
    	
        $scope.sendLogin = function(){

        	alert($scope.password + $scope.email);



        };
    });
</script>

</body>

</html>
