{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-body">
			<div class="login-container">
				<h2 class="text-center">Sign-up</h2>

				{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

				<form class="form-horizontal" action="{{ url_for('sign_up') }}" method="post" ng-app="loginApp" ng-controller="validateLogin"
                name="form" novalidate>
                    <fieldset>
                    
                    <div class="form-group">
				    <label for="fullname" class="col-sm-2 control-label">Full name</label>
				    <div class="col-sm-10">
				      <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Name" ng-model="fullname" required>
				    </div>
                    <span class="text-danger" ng-show="form.fullname.$dirty && (form.fullname.$error.required || form.fullname.$error.email)">A valid email is required</span>
				  </div>
                    
				  <div class="form-group">
				    <label for="email" class="col-sm-2 control-label">Email</label>
				    <div class="col-sm-10">
				      <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="email" required>
				    </div>
                    <span class="text-danger" ng-show="form.email.$dirty && (form.email.$error.required || form.email.$error.email)">A valid email is required</span>
				  </div>

				  <div class="form-group">
				    <label for="password" class="col-sm-2 control-label">Password</label>
				    <div class="col-sm-10">
				      <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
				    </div>
                    <span class="text-danger" ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
				  </div>

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Sign up</button>
				    </div>
				  </div>
                        </fieldset>
				</form>
			</div>	
  		</div>
	</div>
</div>

<script type="text/javascript">
    var app = angular.module('loginApp', []);

    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{a');
      $interpolateProvider.endSymbol('a}');
    }]);

    app.controller('validateLogin', function($scope) {
        $scope.email = "";
        $scope.password = "";
    });
</script>

{% endblock %}