{% extends "layout.html" %}
{% block body %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="text-center">{{ event.name }}</h3>
    </div>
</div>

<div class="row">
	<div class="col-lg-12 text-center">
        <img src="{{ event.url }}" alt="" style="height: 300px; width: 300px;">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-12">
        <a href="{{ url_for('index_event') }}" class="btn btn-primary">Go Back</a>
    </div>
</div>



{% endblock %}